@model EPICommerce.Web.Models.ViewModels.IPageViewModel<EPICommerce.Web.Models.PageTypes.ShoppingOverviewPage>
@{
    ViewBag.Title = "ShoppingOverviewPage";
}

<h2>ShoppingOverviewPage</h2>
<a href="/en/departmental-catalog/Departments/">Departments</a>