<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://siteone.cloudapp.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>siteone.cloudapp.net</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EcfSqlConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=10.0.0.5;Initial Catalog=CommerceStarterKit-CM;Integrated Security=False;User ID=commercesample;Password=password123!;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" Name="Data Source=10.0.0.5;Initial Catalog=CommerceStarterKit-CM;Integrated Security=False;User ID=commercesample;Password=password123!;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;" />
          <Object Type="DbDacFx" Enabled="False">
            <PreSource Path="Data Source=10.0.0.5;Initial Catalog=CommerceStarterKit-CM;Integrated Security=False;User ID=commercesample;Password=password123!;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EcfSqlConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.0.0.5;Initial Catalog=CommerceStarterKit-CM;Integrated Security=False;User ID=commercesample;Password=password123!;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EPiServerDB" Order="2" Enabled="False">
          <Destination Path="Data Source=10.0.0.5;Initial Catalog=CommerceStarterKit-Web;Integrated Security=False;User ID=commercesample;Password=password123!;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" Name="Data Source=10.0.0.5;Initial Catalog=CommerceStarterKit-Web;Integrated Security=False;User ID=commercesample;Password=password123!;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;" />
          <Object Type="DbDacFx" Enabled="False">
            <PreSource Path="Data Source=10.0.0.5;Initial Catalog=CommerceStarterKit-Web;Integrated Security=False;User ID=commercesample;Password=password123!;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EPiServerDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.0.0.5;Initial Catalog=CommerceStarterKit-Web;Integrated Security=False;User ID=commercesample;Password=password123!;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbFullSql" Enabled="False">
            <Source Path="..\..\packages\EPiServer.CMS.Core.8.5.0\tools\EPiServer.Cms.Core.sql" Transacted="False" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EcfSqlConnection-Web.config Connection String">
      <ParameterValue>Data Source=10.0.0.5;Initial Catalog=CommerceStarterKit-CM;Integrated Security=False;User ID=commercesample;Password=password123!;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EPiServerDB-Web.config Connection String">
      <ParameterValue>Data Source=10.0.0.5;Initial Catalog=CommerceStarterKit-Web;Integrated Security=False;User ID=commercesample;Password=password123!;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>